@import "../../global.scss";

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    min-height: 80vh;

    .projectContainer{
        display: flex;
        flex-direction: row;
        max-width: 95%;
        max-height: fit-content;
        margin: 30px 20px;
        padding: 10px;
        transition: all 0.35s ease;
        background-color: #16304d;
        border-radius: 5px;

        .projectContainerLeft{
            display: flex;
            align-self: center;
            justify-content: center;
            max-height: 350px;

            img{
                width: 100%;
                height: auto;
                object-fit: contain;
                padding: 5px;
                border-radius: 5px;
            }
        }

        .projectContainerRight{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;

            h2{
                text-align: center;
                font-size: calc(15px + 0.3vw);
            }

            p{
                margin-top: 20px;
                font-size: calc(12px + 0.2vw);
                text-align: center;
            }

            .tagContainer{
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .liveTag{
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-right: 35px;
                    text-decoration: none;
                    transition: all 0.15s ease;
                    color: green;

                    &:hover{
                        transform: translateY(-2px);
                        transition: all 0.15s ease;
                    }
                }

                .liveTag2{
                    border: 1px solid white;
                }

                .tag {
                    font-size: calc(10px + 0.2vw);
                    margin: 0 5px;
                    display: inline-block;
                    border: 1px solid white;
                    width: fit-content;
                    height: fit-content;
                    padding: 3px;
                }
            }
        }
    }

    h3{
        font-size: calc(10px + 1vw);
        letter-spacing: 15px;
        font-weight: 200;
        text-align: center;
        height: fit-content;
        margin: 2vw 0;
    }
}

@media (max-width: $screen-l-min) {
    .projects {
        .projectContainer{
            border: none;
            flex-direction: column;
            margin: 5vh;
            
            .projectContainerLeft{
                img{
                    max-width: 85%;
                }
            }
            
            .projectContainerRight{

                .tagContainer{
                    margin-top: 7px;
                }
            }
        }
    }
}

@media (min-width: $screen-l-min) {
    .projects{
        .projectContainer{
            filter: blur(2px);
            &:hover{
                filter: blur(0);
                transform: translateY(-10px) scale(1.02);
                transition: all 0.35s ease;
                background-color: orange;
                color: black;

                .projectContainerRight .tagContainer .liveTag {
                    background-color: transparent;
                    border: none;
                    transform: scale(1.1);
                }

                .projectContainerRight .tagContainer .liveTag2{
                    background-color: green;
                    border: 1px dashed red;
                    color: white;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
}

@media (max-width: $screen-sm-min) {
    .projects{
        .projectContainer{
            margin: 30px 0px;
        }
    }
}