@import "../../global.scss";

.navbar {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #16304d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .navbar-header-logo{
        position: absolute;
        left: 1vw;
        padding: 5px;
        color: whitesmoke;
        background-color: #29486b;
        border-radius: 5px;
        align-items: center;
        font-size: calc(4px + 0.5vw);
        font-weight: 300;
        width: fit-content;
        transition: all 0.3s ease;

        &:hover{
            transform: rotate(360deg) scale(1.2);
            color: orange;
            transition: all 0.3s ease;
            border-radius: 100%;
        }
    }
    
    .navbar-items {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
        ul{
            list-style: none;

            li{
                display: inline-block;
                
                a {
                    display:inline-block;
                    height: 0;
                    text-decoration: none;
                    font-size: calc(15px + 0.3vw);
                    font-weight: 300;
                    color: whitesmoke; //#e4a40b;
                    background-color: purple;
                    margin: 0 10px ;
                    transform: translateY(0px);
                    
                    .first-word {
                        display: inline-block;
                        transition: all 0.15s ease;
                    }

                    .second-word {
                        display:inline-block;
                        transition: all 0.15s ease;
                    }
   
                    &:hover {

                        .first-word{
                            transition: all 0.15s ease;
                            transform:translateY(2px);
                            color:#e4a40b;
                        }

                        .second-word{
                            transition: all 0.15s ease;
                            transform:translateY(-2px);
                            color:#e4a40b;
                        }
                    }
                }
            }
        }
    }
        .contactIcons{
            position: absolute;
            right: 1vw;
            a{
                display: inline-block;
                color: orange;
                transition: all 0.3s ease;
                margin-right: 1vw;
    
                &:hover{
                    transform: rotate(360deg) scale(1.3);
                    //transform: translateY(-3px);
                    
                }
            }
        }
    }

    @media (max-width: $screen-xl-min) {
        .navbar{
            //margin-top: 10px;
            width: 100vw;
        }
    }

    @media (max-width: 400px) {
        .navbar{
            .contactIcons{
                display: none;
            }

            .navbar-header-logo{
                display: none;
            }
        }
    }