@import "../../global.scss";

.navbar {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    margin: 5vh auto 0vh;
    //background-color: #16304d;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;

    .navbar-header-logo{
        position: absolute;
        left: 5vw;
        padding: 5px;
        color: whitesmoke;
        background-color: transparent;
        border-radius: 5px;
        align-items: center;
        font-size: calc(10px + 0.5vw);
        font-weight: 300;
        width: fit-content;
        transition: all 0.3s ease;
        border: 1px solid white;

        &:hover{
            transform: rotate(360deg) scale(1.2);
            color: orange;
            transition: all 0.3s ease;
            border-radius: 100%;
        }
    }
    
    .navbar-items {
        display: flex;
        margin: 0 0 0 auto;
        margin-right: 5vw;

        ul{
            list-style: none;

            li{
                display: inline-block;
                text-decoration: none;
                
                a {
                    display:inline-block;
                    height: 0;
                    font-size: calc(12px + 0.3vw);
                    font-weight: 300;
                    letter-spacing: 2px;
                    color: whitesmoke; //#e4a40b;
                    background-color: purple;
                    margin: 0 10px;
                    cursor: pointer;
                    
                    .first-word {
                        display: inline-block;
                        transition: all 0.15s ease;
                    }

                    .second-word {
                        display:inline-block;
                        transition: all 0.15s ease;
                    }
   
                    &:hover {

                        .first-word{
                            transition: all 0.15s ease;
                            transform:translateY(-2px);
                            color:#e4a40b;
                        }

                        .second-word{
                            transition: all 0.15s ease;
                            transform:translateY(2px);
                            color:#e4a40b;
                        }
                    }
                }

                .contactIcon{
                    display: inline-block;
                    transition: all 0.2s ease;
                    margin: 0 10px;
                    font-size: calc(12px + 0.3vw);
                    
                    &:hover{
                        color: orange;
                        transform: scale(1.2);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
}

    @media (max-width: $screen-xl-min) {
        .navbar{
            //margin-top: 10px;
            width: 100vw;
        }
    }

    @media (max-width: 400px) {
        .navbar{
            .contactIcons{
                display: none;
            }

            .navbar-header-logo{
                display: none;
            }
        }
    }