.intro {
    //background-color: white;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: whitesmoke;
    align-items: top;

    .introText{
        font-size: 30px;
        font-weight: 200;
        margin: 30px;
        padding-top: 10px;
        padding: 10px;
        border-left: 1px solid orange;
        transition: all 0.35s ease;

        &:hover{
            margin-left: 10px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            transition: all 0.35s ease;
            background-color: orange;
            color: #243b55;

            &::first-letter{
                color: #243b55;
            }

            a{
                //color: #243b55;
                color: black;
                text-decoration: underline;
                transition: all 1s ease;

                &:hover{
                    color: white;
                    transition: all 0.5s ease;
                }
            }
        }

        &::first-letter{
            color: orange;
            float: left;
            line-height: 60px;
            font-size: 180px;
            padding-top: 40px;
            padding-right: 10px;
        }

        a{
            text-decoration: none;
            color: goldenrod;
            transition: all 0.5s ease;

            &:hover{
                text-decoration: underline;
                transition: all 0.5s ease;
                text-transform: underline;
            }
        }
    }


}