@import "./global.scss";

    .App {
        font-family: 'Poppins', sans-serif;
        //max-width: $screen-xl-min;
        width: 100%;
        margin: 0 auto;   
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        //background-color:#29486b;
        background-color: #172637;
        
        justify-content: center;
    
        .sections{
            min-height: 100vh;
            max-width: $screen-xl-min;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }