.common_contactIcons{
    font-size: calc(7px + 0.8vw);
    margin-left: 10px;
}

.common_h3{
    font-size: calc(10px + 1vw);
    letter-spacing: 15px;
    font-weight: 200;
    text-align: center;
    height: fit-content;
    margin: 2vw 0;
}