@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$mainColor: #070434;
$mainOrange: #e4a40b;
$mainWhite: whitesmoke;
$mainBackground: #242731;

$screen-xl-min: 960px; // Large tablets, desktops
$screen-l-min: 770px; // Tablets, small desktpos
$screen-md-min: 576px; // Small tablets portrait
$screen-sm-min: 450px; // Small tablets, large smartphones landscape
$screen-s-min: 325px; // Smartphones